.blogPost{
    width: 70%;
    background-color: #ffffff;
}
.blogHeader{

    text-align: center;
}

.blogHeader h1{
    letter-spacing: 0.5px;
    text-transform: capitalize;
    font-size: 30px;
    margin:0;
    font-weight: 400;
}
.blogHeader span{
    display: block;
    font-size: 14px;
    padding: 10px 0;
}

.blogPost p{
    font-size: 15px;
    font-style: italic;
    padding: 10px 0;
    display: block;
}

.postimageContainer{
    width: 100%;
    padding: 10px;
    box-sizing:border-box;
}

.postimageContainer img{
    max-width:100%;
    max-height: 100%;

}